Repository NinaVerde/ninaverde_app, changes with the labels that .github/labeler.yml gives for each.
All labels: area: frontend, area: backend, assets, ci

test
  .github/ci-smoke.md
Labels: ci

test (#27)
  .github/ci-smoke.md
Labels: ci

Update dependabot.yml
  .github/dependabot.yml
Labels: ci

chore: trigger CI for required checks
  README.md
Labels: none

Update dependabot.yml (#28)
  .github/dependabot.yml
  README.md
Labels: ci

chore: ci ultimate smoke — trigger labeler + title lint
  .github/ultimate-smoke.md
  lib/ultimate_smoke.txt
Labels: area: frontend, ci

chore: ci ultimate smoke — trigger labeler + title lint (#31)
  .github/ultimate-smoke.md
  lib/ultimate_smoke.txt
Labels: area: frontend, ci

feat: Home screen shell (hero, categories, promos, quick actions, mini-cart)
  lib/screens/home_screen.dart
  pubspec.yaml
Labels: area: frontend

feat: Home screen shell (hero, categories, promos, quick actions, mini-cart) (#34)
  lib/screens/home_screen.dart
  pubspec.yaml
Labels: area: frontend

chore: ignore recovered/build artifacts
  .gitignore
Labels: none

.github/labeler.yml:

"area: frontend":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/**'
          - 'web/**'

"area: backend":
  - changed-files:
      - any-glob-to-any-file:
          - 'server/**'

assets:
  - changed-files:
      - any-glob-to-any-file:
          - 'assets/**'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'
